In [27]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import re
import pandas as pd

In [2]:
# get chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news"
browser.visit(url)

In [4]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# collect the latest News Title
content = soup.find('li', class_='slide')
news_title = content.find('a')['href']
news_title
print(f"news_title = {news_title}")

news_title = /news/8499/nasa-optometrists-verify-mars-2020-rovers-2020-vision/

In [6]:
# collect the latest  Paragraph Text
news_p=soup.find('div',class_='article_teaser_body').text.strip()
print(f"news_p = {news_p}")

news_p = Mars 2020 rover underwent an eye exam after several cameras were installed on the rover.

In [16]:
#for JPL Featured Space Image
# get chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
# the image url for the current Featured Mars Image 
images = soup.find_all('img', {'src':re.compile('.jpg')})
first_image=images[0]['src']
# complete url string for this image.
featured_image_url = image_url+first_image 
print(f"featured_image_url = {featured_image_url}")

featured_image_url = https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA23348-640x350.jpg

In [19]:
# url for Mars Weather twitter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
Mars_Weather_twitter = "https://twitter.com/marswxreport?lang=en"
browser.visit(Mars_Weather_twitter)

In [20]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [21]:
# latest Mars weather tweet 
mars_weather_tweet= soup.find('div',class_='js-tweet-text-container')
mars_weather_tweet

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Happy Landiversary to MSL. In 7 years <a class="twitter-atreply pretty-link js-nav" data-mentioned-user-id="15473958" dir="ltr" href="/MarsCuriosity"><s>@</s><b>MarsCuriosity</b></a> has traveled 23 km (14 mi) and recorded air temps ranging from  -90ºC / -130ºF to 9ºC / 48.2ºF.  Its cold on Mars but ~9% of the Sols reported temps above freezing.<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/fcmnv4CmvY">pic.twitter.com/fcmnv4CmvY</a></p>
</div>

In [22]:
mars_weather=mars_weather_tweet.find('p').text.strip()
print(f"mars_weather = {mars_weather}")

mars_weather = Happy Landiversary to MSL. In 7 years @MarsCuriosity has traveled 23 km (14 mi) and recorded air temps ranging from  -90ºC / -130ºF to 9ºC / 48.2ºF.  Its cold on Mars but ~9% of the Sols reported temps above freezing.pic.twitter.com/fcmnv4CmvY

In [36]:
# url for Mars Facts
mars_facts_url ="https://space-facts.com/mars/"

In [37]:
#use the `read_html` function in Pandas to automatically scrape any tabular data from a page.
tables = pd.read_html(mars_facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [38]:
type(tables)

list

In [39]:
#slice off any of those dataframes that we want using normal indexing.
df = tables[0]
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [40]:
#generate HTML tables from DataFrames.
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [41]:
#strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [42]:
#save the table directly to a file.
df.to_html('table.html')

In [55]:
# url for Mrs Hemispheres
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
mars_hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hemispheres_url)

In [56]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [67]:
titles = soup.find_all('h3')
titles

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [54]:
# the image url for the current Featured Mars Image 
images = soup.find_all('img', {'src':re.compile('.jpg')})
first_image=images[0]['src']
# complete url string for this image.
mars_hemispheres_url =mars_hemispheres_url+first_image 
print(f"mars_hemispheres_url = {mars_hemispheres_url}")

mars_hemispheres_url = https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/images/logos/isis_2x.jpg/images/logos/isis_2x.jpg

In [57]:
images = soup.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

/images/logos/isis_2x.jpg

/images/logos/nomenclature_2x.jpg

/images/logos/map_a_planet_2x.jpg

/images/logos/rpif_2x.jpg

/images/logos/photogrammetry_2x.jpg

/images/logos/pilot_2x.jpg